body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 400px;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
body {
    background: #fff;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 109px;
}

.logo {
    display: inherit;
}

.material-icons-outlined {
    font-family: 'material icons';
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 580px;
    padding: 1rem;
    padding-right: 1.5rem;
    border: 0.1px solid #ddd;
    border-radius: 30px;
}