body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 400px;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

body {
    background: #fff;
}

a:hover {
    text-decoration: underline;
}

div a {
    padding: 5px;
    color:black;
    text-decoration: none;
}

div, header, main, footer {
    display: flex;
}

header, footer {
    padding: 20px;
    justify-content: space-between;
}

main {
    flex-direction: column;
    align-items: center;
    padding-top: 220px;
}

.searchbar {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;
    padding: 1rem;
    border: 0.1px solid #ddd;
    border-radius: 24px;
}

.material-icons-outlined {
    font-family: 'material icons';
    font-size: 20px;
}

#search {
    border:none;
    outline:none;
    width:90%;
}

.searchbar:hover {
    box-shadow: 0px 1.7px 5px #dfdfdf;
    outline: none; 
}

.buttons {
    flex-direction: row;
}

.buttons div {
    margin:5px;
    padding:10px;
    color:black;
    background-color: #eee;
    cursor:pointer;
    border-radius: 5px;
    border: 1px solid transparent;
}

.buttons div:hover {
    border: 1px solid #c0c0c0;
}

footer {
    background-color:#eee;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.right {
    padding-right: 50px;
}